/.quarto/
.Rproj.user
.Rproj.user/
/.Rproj.user/
/_site/
.Rhistory 
.RData
.Ruserdata
.DS_Store
.Rproj.user/D1D7BF1B/pcs/source-pane.pper
.Rproj.user/D1D7BF1B/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
